alfanous==0.7.28
blinker==1.4
decorator==4.0.9
flake8==2.5.4
Flask==0.10.1
Flask-SQLAlchemy==2.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.4.0
pbr==1.9.1
pep8==1.7.0
pyflakes==1.0.0
pyparsing==2.0.3
python-Levenshtein==0.12.0
requests==2.13.0
six==1.10.0
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
Tempita==0.5.2
Werkzeug==0.10.4
psutil
